.vs/
EmployeeDemo/Employee.PresentationLayer/bin/Employee.PresentationLayer.pdb
EmployeeDemo/Employee.PresentationLayer/bin/Employee.PresentationLayer.pdb
EmployeeDemo/Employee.PresentationLayer/bin/Employee.PresentationLayer.pdb
EmployeeDemo/Employee.PresentationLayer/obj/Debug/Emp.PresentationLayer.csprojAssemblyReference.cache
EmployeeDemo/Employee.PresentationLayer/obj/Debug/Employee.PresentationLayer.dll
EmployeeDemo/Employee.PresentationLayer/obj/Debug/Employee.PresentationLayer.pdb
EmployeeDemo/Employee.WebAPILayer/bin/Employee.WebAPILayer.dll
EmployeeDemo/Employee.WebAPILayer/bin/Employee.WebAPILayer.pdb
EmployeeDemo/Employee.WebAPILayer/obj/Debug/Emp.WebAPILayer.csprojAssemblyReference.cache
EmployeeDemo/Employee.WebAPILayer/obj/Debug/Employee.WebAPILayer.dll
EmployeeDemo/Employee.WebAPILayer/obj/Debug/Employee.WebAPILayer.pdb
EmployeeDemo/Employee.PresentationLayer/obj/Debug/Emp.PresentationLayer.csprojAssemblyReference.cache
