.vs/
EmployeeDemo/Emp.PresentationLayer/bin/Emp.PresentationLayer.pdb
EmployeeDemo/Emp.PresentationLayer/bin/Emp.PresentationLayer.pdb
EmployeeDemo/Emp.PresentationLayer/bin/Emp.PresentationLayer.pdb
EmployeeDemo/Emp.PresentationLayer/obj/Debug/Emp.PresentationLayer.csprojAssemblyReference.cache
EmployeeDemo/Emp.PresentationLayer/obj/Debug/Emp.PresentationLayer.dll
EmployeeDemo/Emp.PresentationLayer/obj/Debug/Emp.PresentationLayer.pdb
EmployeeDemo/Emp.WebAPILayer/bin/Emp.WebAPILayer.dll
EmployeeDemo/Emp.WebAPILayer/bin/Emp.WebAPILayer.pdb
EmployeeDemo/Emp.WebAPILayer/obj/Debug/Emp.WebAPILayer.csprojAssemblyReference.cache
EmployeeDemo/Emp.WebAPILayer/obj/Debug/Emp.WebAPILayer.dll
EmployeeDemo/Emp.WebAPILayer/obj/Debug/Emp.WebAPILayer.pdb
EmployeeDemo/Emp.PresentationLayer/obj/Debug/Emp.PresentationLayer.csprojAssemblyReference.cache
